body{
	text-align: center;
}

.text-muted{
    color:goldenrod;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px auto;
    position: relative;
    top: 20px;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
  border-radius: 25px;
  background:pink;
  border: none; 
}   

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5em;
  color: #001f3f;
  margin: 0 auto;
}

h2{
  margin: 5px auto;
  position: relative;
  top: 40px;
  font-size: 1.2em;
}

img {
  margin: 0 auto;
  
}

#higuys{
  margin: 5px auto;
  background: none;
}

.lead{
  font-size: 1.2em;
}

.start{
  color: white;
  background-color: black;
  border: none;
  position: relative;
  bottom: 100px;
  margin: 15px;
  border-radius: 25px;
}

.start:hover{
  background-color: maroon;
  transform: scale(1.1);
}

#heart{
  color: white;
  background-color: black;
  border-color: white;
  border: none;
  position: relative;
  bottom: 200px;
  right: 27px;
}



.btn-yay {
  background-color: lime;
  border: none;
  margin: 15px;
  border-radius: 25px;
}

.btn-boo {
  background-color: red;
  border: none;
  margin: 15px;
  border-radius: 25px;
}


@media only screen and (max-width: 786px) {
  #heart {
    color: white;
    background-color: black;
    border-color: white;
    border: none;
    position: relative;
    bottom: 200px;
    right: -60px;
  }

  #question {
    margin: 0 auto;
  }
}